spring.datasource.username=postgres
spring.datasource.password=postgres
jpa.properties.database-platform=org.hibernate.dialect.PostgreSQL11Dialect

spring.jpa.properties.hibernate.jdbc.lob.non_contextual_creation=true

spring.thymeleaf.render-hidden-markers-before-checkboxes=true

spring.servlet.multipart.max-file-size=400MB
spring.servlet.multipart.max-request-size=400MB

server.port=8090

spring.jpa.show-sql=false

upload.path=uploads
upload_xls.path=uploads_xls

spring.mail.host=172.18.16.241
spring.mail.port=25
spring.mail.properties.mail.smtp.auth=false
spring.mail.properties.mail.smtp.starttls.enable=false

link.prefix=http://fs.govrb.ru/
link.suffix=

logging.level.org.springframework=DEBUG
logging.level.ru.sibdigital.addcovid = DEBUG
logging.file.path=./addcovid-logs


#Секция для тестирования фронта
#Смотрим версию своего браузера и качаем драйвер для своей версии отсюда https://chromedriver.chromium.org/downloads
test.webdriver.chrome.driver=C:/Program Files/Java/selenium/chromedriver.exe
test.webdriver.browser.show=false

#После первого запуска теста на селениуме, сгенерированный сертификат .p12 необходимо установить в Доверенные корневые центры сертификации.
#На windows 10 - двойной щелчок по .p12 файлу -> Для текущего пользователя (далее) -> (далее) -> Вводим пароль соответствующий test.ssl.certificate.store.password ; по умолчанию password (далее) -> Поместить все сертификаты в следущее хранилище: Доверенные корневые центры сертификации (Далее) -> (Готово)
test.ssl.certifficate.path=./cer
test.ssl.certifficate.open.name=certificate.cer
test.ssl.certificate.private.name=private-key.pem
test.ssl.certificate.store.name=keystore.p12
test.ssl.certificate.store.password=password