<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${application_name}">. Личный кабинет</title>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/libs/materialdesignicons.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/cabinet/cabinet.css}">

    <script th:src="@{/libs/webix.min.js}"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
    <script th:src="@{/js/consentPersonalData.js}"></script>
</head>
<body>
<script th:inline="javascript">
    const APPLICATION_NAME = [[${application_name}]]
    const ID_ORGANIZATION = [[${id_organization}]]
    const LINK_PREFIX = [[${link_prefix}]]
    const LINK_SUFFIX = [[${link_suffix}]]
</script>
<script th:src="@{/js/cabinet/main.js}"></script>
<script th:src="@{/js/cabinet/employees.js}"></script>
<script th:src="@{/js/cabinet/documents.js}"></script>
<script th:src="@{/js/cabinet/address.js}"></script>
<script th:src="@{/js/cabinet/requests.js}"></script>
<script th:src="@{/js/cabinet/prescript.js}"></script>
<script th:src="@{/js/cabinet/news.js}"></script>
<script th:src="@{/js/cabinet/mailing.js}"></script>
<script th:src="@{/js/cabinet/contacts.js}"></script>
<script th:src="@{/js/cabinet/send_request.js}"></script>
<script th:src="@{/js/cabinet/dep_contacts.js}"></script>
<script th:src="@{/js/cabinet/profile.js}"></script>
<script th:src="@{/js/cabinet/inspection.js}"></script>
</body>
</html>
