<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:utext="${application_name}"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/cabinet/cabinet.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <style>
        body {margin: 0}
        .boldLabel {
            font-weight: bold; border-width: 2px; border-style: solid; border-color: #000000;
        }
    </style>
</head>
<body>
<div id="app"></div>
<script th:inline="javascript">
    const APPLICATION_NAME = [[${application_name}]]
    const MESSAGE = [[${message}]]
    const INN = [[${inn}]]

    webix.i18n.setLocale("ru-RU");

    webix.ui({
        type:"form",
        id: "mainForm",
        css: {
            "background":"#ccd7e6 !important" //#323B55"#ccd7e6
        },
        rows:[
            {
                gravity: 0.9,
            },
            {
                view: "align",
                align: "middle,center",
                body: {
                    cols: [
                         {
                                id: "leftLayout",
                                margin:0,
                                padding:{
                                    top:55, bottom:25
                                },
                                width: 350,
                                css: {
                                    "background":"#475466 !important" //#2b334a
                                },
                                rows: [
                                    {
                                        view: "label",
                                        height: 200,
                                        id: "logo",
                                        align: "center",
                                        template: "<img src = \"logo.png\">"
                                    },
                                    { view:"label", label:`<span style="font-size: 1.5rem; color: #ccd7e6">Добро пожаловать!</span>`,height:50, align:"center" },
                                    { view:"label", label:`<span style="font-size: 1rem; color: #fff6f6">Информационная система</span>`,  height:50, align:"center" },
                                    { view:"label", label:`<span style="font-size: 1rem; color: #fff6f6">Работающая Бурятия</span>`,height:50, align:"center"},
                                    { view:"label", label:`<span style="font-size: 0.8rem; color: #fff6f6">©2020</span>`,height:50, align:"center" },
                                ]

                         },
                        {
                            id: 'form',
                            view: 'form',
                            width: 350,
                            complexData: true,
                            elements: [
                                {},
                                {
                                    rows:[
                                        {
                                            view: 'label',
                                            height: 30,
                                            label: 'ИНН: ' + INN,
                                        },
                                        {
                                            view: 'label',
                                            height: 30,
                                            label: MESSAGE
                                        },
                                    ]
                                },
                                {
                                    view: 'button',
                                    css: 'myClass',
                                    value: 'Вход',
                                    click: () => { window.location.href = '/login' }
                                },
                                {}
                            ]
                        }
                    ]
                }
            },
            {}
        ]

    })
</script>
</body>
</html>