<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Addcovid</title>
    <link type="text/css" rel="stylesheet" href="/libs/webix.css">
    <script src="/libs/webix.min.js"></script>
    <style>body {margin: 0}</style>
</head>
<body>
<div id="app"></div>

<script th:inline="javascript">
    /*<![CDATA[*/
    var listDepartmentJava = /*[[${listDepartment}]]*/ [];
    let listDepartment = new Array();
    for (var i = 0; i < listDepartmentJava.length; i++) {
        console.log(listDepartmentJava[i].value); // Obviously here I would like to access the User properties
        listDepartment.push(listDepartmentJava[i]);
    }
    /*]]>*/
</script>
<script src="/js/form.js"></script>
</body>
</html>