<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" th:href="@{/libs/webix.min.css}" type="text/css">
    <link type="text/css" rel="stylesheet" th:href="@{/css/cabinet/cabinet.css}">
    <script th:src="@{/libs/webix.min.js}" type="text/javascript"></script>
    <title th:utext="${application_name}"></title>

</head>
<body>
<div id="login"></div>
<!--<div th:text="${message}" style="color: red;"></div>-->
<script th:inline="javascript">
    let message = [[${message}]] || ''

    let appName = [[${application_name}]]

    console.log(message)

    if (window.location.search === "?error=true") {
        webix.message("Введен неверный логин или пароль", "error")
    }

    const descLogin = '<span style="font-size: 0.9rem; color: red">' +
        'Если ранее Ваши заявки были утверждены, при первом входе воспользуйте восстановлением пароля - кнопка "Не могу войти"' +
        '</span><br/>' +
        '<span style="font-size: 0.8rem; color: #6e6e6e">' +
        'Для входа филиалов, представительств, обособленных подразделений и КФХ вместо ИНН ' +
        'необходимо указать адрес электронной почты</span>';

    webix.ui(
        {
            type:"form",
            id: "mainForm",
            css: {
                "background":"#ccd7e6 !important" //#323B55"#ccd7e6
            },
            rows: [
                /*{
                    view: 'toolbar',
                    //height: 40,
                    autoheight: true,
                    cols: [
                        {
                            view: 'label',
                            align: 'center',
                            autoheight: true,
                            label: `<span style="font-size: 1.3rem">${appName}. Личный кабинет</span>`,
                        },
                    ]
                },*/
                {
                    gravity: 0.9,
                },
                {
                    view: "align",
                    align: "middle,center",
                    body: {
                        cols: [
                            {
                                id: "leftLayout",
                                margin:0,
                                padding:{
                                    top:55, bottom:25
                                },
                                width: 350,
                                css: {
                                    "background":"#475466 !important" //#2b334a
                                },
                                rows: [
                                    {
                                        view: "label",
                                        height: 200,
                                        id: "logo",
                                        align: "center",
                                        template: "<img src = \"logo.png\">"
                                    },
                                    { view:"label", label:`<span style="font-size: 1.5rem; color: #ccd7e6">Добро пожаловать!</span>`,height:50, align:"center" },
                                    { view:"label", label:`<span style="font-size: 1rem; color: #fff6f6">Информационная система</span>`,  height:50, align:"center" },
                                    { view:"label", label:`<span style="font-size: 1rem; color: #fff6f6">Работающая Бурятия</span>`,height:50, align:"center"},
                                    { view:"label", label:`<span style="font-size: 0.8rem; color: #fff6f6">©2020</span>`,height:50, align:"center" },
                                ]

                            },
                            {
                                container: 'login',
                                view: "form",
                                align: 'center',
                                id: "log_form",
                                maxWidth: 450,
                                width: 350,
                                minWidth: 250,
                                autoheight: true,
                                rows: [
                                    {},
                                    {
                                        id: "firstRow", rows:[]
                                    },
                                    {
                                        view:"label",
                                        label:`<span style="font-size: 1.1rem; color: #6e6e6e">Вход</span>`
                                    },
                                    {
                                        view: 'template',
                                        id: 'descriptionStep3',
                                        borderless: true,
                                        autoheight: true,
                                        template: descLogin,
                                    },
                                    {
                                        view: "text",
                                        placeholder: "ИНН",
                                        id: "inn",
                                        name: "username",
                                    },
                                    {
                                        view: "text",
                                        type: "password",
                                        placeholder: "Пароль",
                                        id: "password",
                                        name: "password",
                                    },
                                    {
                                      id: "lblIn",
                                        rows:[]
                                    },
                                    {
                                        rows: [
                                            {
                                                cols: [
                                                    {
                                                        margin: 5, cols: [
                                                            {view: "button", id: "btn", align: "center", value: "Войти", maxWidth: 100, css: 'myClass', click: submit},
                                                            //{ view:"button", value:"Cancel"}
                                                        ]
                                                    },
                                                    {
                                                        view: 'label',
                                                        id: 'esia_label',
                                                        align: 'center',
                                                        label: '<a href="oauth2/authorization/esia" style="margin-right: 10px; color: #6e6e6e">Войти через ЕСИА</a>',
                                                        hidden: true,
                                                    },
                                                ]
                                            },
                                            {
                                                view: 'label',
                                                id: 'lbl',
                                                align: 'center',
                                                label: '<a href="registration" style=" margin-right: 10px; color: #6e6e6e">Регистрация</a> <a href="recovery" style="color: #6e6e6e">Не могу войти</a>'
                                            }
                                        ]
                                    },
                                    {
                                        id: "support_block",
                                        rows: [
                                            {
                                                view: 'label',
                                                id: 'support',
                                                height: 30,
                                                align: 'center',
                                                label: '<span style=" margin-right: 10px; color: #6e6e6e">Возникли проблемы? </span>'
                                            },
                                            {
                                                view: 'label',
                                                id: 'support',
                                                height: 30,
                                                align: 'center',
                                                label: '<a href="mailto:rabota03@govrb.ru" style=" margin-right: 10px; color: #6e6e6e">Пишите на rabota03@govrb.ru</a> '
                                            }
                                        ]
                                    },
                                    // {
                                    //     view: 'label',
                                    //     label: message //'<span style="color: red;"' + message + '</span>'
                                    // },
                                    {
                                    }
                                ]
                            }
                        ]
                    }
                },
                {}
            ]
        });

    function submit() {
        const pwd = $$('password').getValue();
        const inn = $$('inn').getValue();
        if (inn.trim() == '') {
            $$('inn').focus();
            webix.message('Для входа введите логин!', 'error');
            return;
        }
        if (pwd.trim() == '') {
            $$('password').focus();
            webix.message('Для входа введите пароль!', 'error');
            return;
        }

        $$('password').setValue($$('password').getValue().trim());
        //webix.message(JSON.stringify($$("log_form").getValues(), null, 2));
        webix.send("perform_login", $$("log_form").getValues());
    }

    webix.ready(function () {
        let clientScreenWidth = document.body.clientWidth;
        if (clientScreenWidth < 760) {
            $$("log_form").adjust();
            $$("leftLayout").hide();
            $$("lblIn").addView($$("lbl"));
            $$("log_form").config.width = clientScreenWidth - 40; $$("log_form").resize();
            $$("btn").config.maxWidth = 750; $$("btn").resize();
            $$("firstRow").addView($$("logo"),0);
        }

        webix.ajax().get('check_esia').then(function (result) {
            result = result.text();
            if (result === 'true') {
                $$('esia_label').show();
            }
        })
    })
</script>
</body>
</html>