<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:utext="${application_name}"></title>
    <!--    <link type="text/css" rel="stylesheet" href="/libs/webix.css">-->
    <!--    <link href="/libs/skins/flat.min.css" rel="stylesheet" type="text/css">-->
    <!--    <script src="/libs/webix.min.js"></script>-->
    <link type="text/css" rel="stylesheet" th:href="@{/libs/skins/flat.min.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
    <style>body {margin: 0}
    .boldLabel {
        font-weight: bold; border-width: 2px; border-style: solid; border-color: #000000;
    }
    </style>
</head>
<body>
<div id="app"></div>
<script th:inline="javascript">
    const APPLICATION_NAME = [[${application_name}]]
    const REF_AGREEMENT = [[${ref_agreement}]]
    const REF_WORKING_PORTAL = [[${ref_working_portal}]]
</script>
<script th:src="@{/js/personal_form.js}"></script>
</body>
</html>
