<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:utext="${application_name}"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <link rel="stylesheet" th:href="@{/css/cabinet/cabinet.css}" type="text/css">
    <script th:src="@{/libs/webix.min.js}"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script th:src="@{/libs/jquery-3.4.1.min.js}"></script>
    <style>
        body {margin: 0}
        .boldLabel {
            font-weight: bold; border-width: 2px; border-style: solid; border-color: #000000;
        }
    </style>
</head>
<body>
<script th:inline="javascript">
    const APPLICATION_NAME = [[${application_name}]]

    webix.i18n.setLocale("ru-RU");

    webix.ui({
        height: document.body.clientHeight,
        css: {"background-color": "#ccd7e6"},
        maxWidth: 760,
        rows: [
            {},
            {
                view: "align",
                align: "middle,center",
                body: {
                    cols: [
                        {
                            id: "leftLayout",
                            margin: 0,
                            padding: {
                                top: 55, bottom: 25
                            },
                            width: 400,
                            css: {
                                "background": "#475466 !important" //#2b334a
                            },
                            rows: [
                                {
                                    view: "label",
                                    height: 200,
                                    id: "logo",
                                    align: "center",
                                    template: "<img src = \"logo.png\">"
                                },
                                {
                                    view: "label",
                                    id: "titleReg",
                                    label: `<span style="font-size: 1.5rem; color: #ccd7e6">Восстановление доступа</span>`,
                                    height: 50,
                                    align: "center"
                                },
                                {
                                    view: "label",
                                    id: "appNameRegPre",
                                    label: `<span style="font-size: 1.2rem; color: #ccd7e6">на портале</span>`,
                                    height: 20,
                                    align: "center"
                                },
                                {
                                    view: "label",
                                    id: "appNameReg",
                                    label: `<span style="font-size: 1.2rem; color: #ccd7e6">"${APPLICATION_NAME}"</span>`,
                                    height: 50,
                                    align: "center"
                                },
                                {
                                    view: "label",
                                    id: "description",
                                    css: {
                                        "background-color": "#475466",
                                        "text-align": "center",
                                        "padding-left": "4px",
                                        "padding-right": "4px"
                                    },
                                    borderless: true,
                                    template: `<span style="font-size: 0.8rem; color: #fff6f6">Для восстановления доступа к Вашему личному кабинету, Вам необходимо ввести ИНН, после чего, Вам на почту придёт письмо с новым паролем.</span>`,
                                    height: 70,
                                    align: "center"
                                },
                            ]

                        },
                        {
                            id: 'form',
                            view: 'form',
                            width: 360,
                            complexData: true,
                            elements: [
                                {},
                                {
                                    id: "firstRow",
                                    rows:[]
                                },
                                {
                                    view:"label",
                                    height: 20,
                                    label:`<span style="font-size: 1rem; color: #6e6e6e">Введите ИНН вашей организации</span>`
                                },
                                {
                                    rows: [
                                        {
                                            view: 'text',
                                            id: 'inn',
                                            name: 'inn',
                                            // label: 'ИНН',
                                            labelPosition: 'top',
                                            placeholder: 'ИНН',
                                            required: true,
                                            validate: webix.rules.isNumber,
                                            invalidMessage: 'Неправильный формат ИНН'
                                        }
                                    ]
                                },
                                {
                                    view: 'button',
                                    css: 'myClass',
                                    value: 'Отмена',
                                    click: () => {
                                        window.location.href = '/login'
                                    }
                                },
                                {
                                    id: 'send_btn',
                                    view: 'button',
                                    css: 'myClass',
                                    value: 'Отправить новый пароль',
                                    align: 'center',
                                    click: function () {

                                        if ($$('form').validate()) {

                                            let params = $$('form').getValues();

                                            params.inn = params.inn.trim();

                                            if (params.inn.length > 12) {
                                                webix.message('Превышена длина ИНН', 'error');
                                                return false;
                                            }

                                            webix.ajax()
                                                .headers({'Content-type': 'application/json'})
                                                .post('/recovery?inn=' + params.inn)
                                                .then(function (data) {
                                                    const text = data.text();
                                                    if (text === 'Ок') {
                                                        window.location = '/login';
                                                    } else {
                                                        webix.message(text, 'error')
                                                    }
                                                })
                                        }
                                    }
                                },
                                {}
                            ]
                        }
                    ]
                }
            },
            {}
        ]
    })
    webix.ready(function() {
        let clientScreenWidth = document.body.clientWidth;
        if (clientScreenWidth < 760) {
            $$("leftLayout").hide();
            $$("form").config.width = document.body.clientWidth-40;
            $$("titleReg").setValue(`<span style="font-size: 1.1rem; color: #475466">Восстановление доступа</span>`)
            $$("appNameRegPre").setValue(`<span style="font-size: 1.1rem; color: #475466">На портале</span>`)
            $$("appNameReg").setValue(`<span style="font-size: 1.1rem; color: #475466">"${APPLICATION_NAME}"</span>`)
            $$("firstRow").addView($$("logo"),0);
            $$("firstRow").addView($$("titleReg"),-1);
            $$("firstRow").addView($$("appNameRegPre"),-1);
            $$("firstRow").addView($$("appNameReg"),-1);
            $$("firstRow").addView($$("description"),-1);
            $$("form").adjust();
            $$("form").resize();
        }
        if(document.body.clientHeight < 640){
            $$("logo").config.height = 180;
            $$("description").config.height = 80;
            $$("logo").resize();
            $$("description").resize();
        }
        //if (EGRUL_ADDRESS) {
           webix.extend($$('searchInn'), webix.ProgressBar);
           $$('egrul_search').show();
        //}
        if (document.body.clientWidth < 480){
            regLayout.config.width = document.body.clientWidth; regLayout.resize();
            $$("organizationName").config.label = "Наим. орг./ФИО ИП"; $$("organizationName").refresh();
            $$("organizationShortName").config.label = "Краткое наим. огр."; $$("organizationShortName").refresh();
            $$("organizationOkved").config.label = "Осн. вид деятельности"; $$("organizationOkved").refresh();
            $$("organizationOkvedAdd").config.label = "Доп. виды деятельности"; $$("organizationOkvedAdd").refresh();
        }
    })
</script>
</body>
</html>