<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ЕИС Работающая Бурятия</title>
    <link type="text/css" rel="stylesheet" href="/libs/webix.css">
    <script src="/libs/webix.min.js"></script>
    <script src="/libs/routie.min.js"></script>
    <script data-main="js/index" src="/libs/require.min.js"></script>
    <style>body {margin: 0}</style>
</head>
<body>
<div id="app"></div>
<script th:inline="javascript">
    const ID_DEPARTMENT = [[${id_department}]]
    const DEPARTMENT = [[${department_name}]]
    const USER_NAME = [[${user_lastname + " " + user_firstname}]]
    const LINK_PREFIX = [[${link_prefix}]]
    const LINK_SUFFIX = [[${link_suffix}]]
    const TOKEN = [[${token}]]

    const winHeight = document.body.clientHeight
    const winWidth = document.body.clientWidth
    console.log(winHeight + ' x ' + winWidth)
</script>
</body>
</html>