<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:utext="${application_name}"></title>
    <link type="text/css" rel="stylesheet" th:href="@{/libs/webix.min.css}">
    <script th:src="@{/libs/webix.min.js}"></script>
    <script th:src="@{/libs/routie.min.js}"></script>
    <script data-main="js/index" th:src="@{/libs/require.min.js}"></script>
    <style>body {margin: 0}</style>
</head>
<body>
<div id="app"></div>
<script th:inline="javascript">
    const APPLICATION_NAME = [[${application_name}]]
    const CONTACTS = [[${contacts}]]
    const ID_DEPARTMENT = [[${id_department}]]
    const DEPARTMENT = [[${department_name}]]
    const USER_NAME = [[${user_lastname + " " + user_firstname}]]
    const LINK_PREFIX = [[${link_prefix}]]
    const LINK_SUFFIX = [[${link_suffix}]]
    const TOKEN = [[${token}]]

    const winHeight = document.body.clientHeight
    const winWidth = document.body.clientWidth
    console.log(winHeight + ' x ' + winWidth)
</script>
</body>
</html>
